<center>
    <img src="https://gitlab.com/ibm/skills-network/courses/placeholder101/-/raw/master/labs/module%201/images/IDSNlogo.png" width="300" alt="cognitiveclass.ai logo"  />
</center>

# Peer Review Assignment - Data Engineer - Webscraping

Estimated time needed: **20** minutes

## Objectives

In this part you will:

*   Use webscraping to get bank information

For this lab, we are going to be using Python and several Python libraries. Some of these libraries might be installed in your lab environment or in SN Labs. Others may need to be installed by you. The cells below will install these libraries when executed.

In [1]:
#!pip install pandas
!pip install bs4
#!pip install requests

Collecting bs4
  Downloading bs4-0.0.1.tar.gz (1.1 kB)
Requirement already satisfied: beautifulsoup4 in /opt/conda/lib/python3.7/site-packages (from bs4) (4.9.3)
Requirement already satisfied: soupsieve>1.2 in /opt/conda/lib/python3.7/site-packages (from beautifulsoup4->bs4) (2.2.1)
Building wheels for collected packages: bs4
  Building wheel for bs4 (setup.py) ... done
  Created wheel for bs4: filename=bs4-0.0.1-py3-none-any.whl size=1271 sha256=39d3a4c734831fbb849837347f6bde1032e5c36633ea5f5f6566061812674a87
  Stored in directory: /root/.cache/pip/wheels/0a/9e/ba/20e5bbc1afef3a491f0b3bb74d508f99403aabe76eda2167ca
Successfully built bs4
Installing collected packages: bs4
Successfully installed bs4-0.0.1
WARNING: Running pip as the 'root' user can result in broken permissions and conflicting behaviour with the system package manager. It is recommended to use a virtual environment instead: https://pip.pypa.io/warnings/venv

## Imports

Import any additional libraries you may need here.

In [2]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

## Extract Data Using Web Scraping

The wikipedia webpage [https://en.wikipedia.org/wiki/List_of_largest_banks](https://en.wikipedia.org/wiki/List_of_largest_banks?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkPY0221ENSkillsNetwork23455645-2021-01-01) provides information about largest banks in the world by various parameters. Scrape the data from the table 'By market capitalization' and store it in a JSON file.

### Webpage Contents

Gather the contents of the webpage in text format using the `requests` library and assign it to the variable <code>html_data</code>

In [3]:
#Write your code here
url2 = "https://en.wikipedia.org/wiki/List_of_largest_banks"
html_data = requests.get(url2).text
type(html_data)

str

<b>Question 1</b> Print out the output of the following line, and remember it as it will be a quiz question:

In [7]:
html_data[101:124]

'List of largest banks -'

### Scraping the Data

<b> Question 2</b> Using the contents and `beautiful soup` load the data from the `By market capitalization` table into a `pandas` dataframe. The dataframe should have the country `Name` and `Market Cap (US$ Billion)` as column names.  Display the first five rows using head.

Using BeautifulSoup parse the contents of the webpage.

In [171]:
#Replace the dots below
table2 = BeautifulSoup(html_data,"html5lib").find(id="By_market_capitalization").parent.next_sibling.next_sibling.next_sibling.next_sibling
#print(hola.prettify())
#table2.find_all('tr')[0]
pd.read_html(str(table2), flavor='bs4')[0]

    Rank                                Bank name  Market cap(US$ billion)
0      1                           JPMorgan Chase                  487.220
1      2  Industrial and Commercial Bank of China                  345.214
2      3                          Bank of America                  325.331
3      4                              Wells Fargo                  308.013
4      5                  China Construction Bank                  257.399
..   ...                                      ...                      ...
65    66                             Ping An Bank                   37.993
66    67                       Standard Chartered                   37.319
67    68                     United Overseas Bank                   35.128
68    69                                QNB Group                   33.560
69    70                    Bank Rakyat Indonesia                   33.081

[70 rows x 3 columns]

### Another answer

In [172]:
table2.tbody.find_all("tr")[0].text.split('\n')

['', 'Rank', '', 'Bank name', '', 'Market cap(US$ billion)', '']

In [173]:
erase_temp=table2.tbody.find_all("tr")[0].text.split('\n').count('')
erase_temp

4

In [174]:
columnas=table2.tbody.find_all("tr")[0].text.split('\n')

for i in range(erase_temp):
    columnas.remove('')
    print(columnas)

['Rank', '', 'Bank name', '', 'Market cap(US$ billion)', '']
['Rank', 'Bank name', '', 'Market cap(US$ billion)', '']
['Rank', 'Bank name', 'Market cap(US$ billion)', '']
['Rank', 'Bank name', 'Market cap(US$ billion)']

In [175]:
population_data = pd.DataFrame(columns=columnas)

In [176]:
for row in table2.tbody.find_all("tr"):
    col = row.find_all("td")
    if (col != []):
        rank = col[0].text.strip()
        #print(type(rank))
        #print(len(rank))
        bank_name = col[1].text
        market = col[2].text.strip()
        population_data = population_data.append({'Rank':rank , 'Bank name':bank_name, 'Market cap(US$ billion)':market}, ignore_index=True)

population_data

   Rank                                   Bank name Market cap(US$ billion)
0     1                            JPMorgan Chase\n                 487.220
1     2   Industrial and Commercial Bank of China\n                 345.214
2     3                           Bank of America\n                 325.331
3     4                               Wells Fargo\n                 308.013
4     5                   China Construction Bank\n                 257.399
..  ...                                         ...                     ...
65   66                              Ping An Bank\n                  37.993
66   67                        Standard Chartered\n                  37.319
67   68                      United Overseas Bank\n                  35.128
68   69                                 QNB Group\n                  33.560
69   70                     Bank Rakyat Indonesia\n                  33.081

[70 rows x 3 columns]

In [186]:
population_data['Rank'] = population_data['Rank'].transform(lambda x: x.replace('\n',''))
population_data['Bank name'] = population_data['Bank name'].transform(lambda x: x.replace('\n',''))
population_data

   Rank                                 Bank name Market cap(US$ billion)
0     1                            JPMorgan Chase                 487.220
1     2   Industrial and Commercial Bank of China                 345.214
2     3                           Bank of America                 325.331
3     4                               Wells Fargo                 308.013
4     5                   China Construction Bank                 257.399
..  ...                                       ...                     ...
65   66                              Ping An Bank                  37.993
66   67                        Standard Chartered                  37.319
67   68                      United Overseas Bank                  35.128
68   69                                 QNB Group                  33.560
69   70                     Bank Rakyat Indonesia                  33.081

[70 rows x 3 columns]

Load the data from the `By market capitalization` table into a pandas dataframe. The dataframe should have the country `Name` and `Market Cap (US$ Billion)` as column names. Using the empty dataframe `data` and the given loop extract the necessary data from each row and append it to the empty dataframe.

In [191]:
data = pd.DataFrame(columns=["Name", "Market Cap (US$ Billion)"])

# for row in soup.find_all('tbody')[3].find_all('tr'): # This access way is incorrect
#Retrieve table2 form previous code lines
#Remeberimg that:
#table2 = BeautifulSoup(html_data,"html5lib").find(id="By_market_capitalization").parent.next_sibling.next_sibling.next_sibling.next_sibling
for row in table2.tbody.find_all("tr"):
    col = row.find_all('td')
    #Write your code here
    if (col != []):
        bank_name = col[1].text
        market = col[2].text.strip()
        data = data.append({'Name':bank_name, 'Market Cap (US$ Billion)':market}, ignore_index=True)

data

                                          Name Market Cap (US$ Billion)
0                             JPMorgan Chase\n                  487.220
1    Industrial and Commercial Bank of China\n                  345.214
2                            Bank of America\n                  325.331
3                                Wells Fargo\n                  308.013
4                    China Construction Bank\n                  257.399
..                                         ...                      ...
65                              Ping An Bank\n                   37.993
66                        Standard Chartered\n                   37.319
67                      United Overseas Bank\n                   35.128
68                                 QNB Group\n                   33.560
69                     Bank Rakyat Indonesia\n                   33.081

[70 rows x 2 columns]

In [194]:
data['Name'] = data['Name'].transform(lambda x: x.replace('\n',''))
data

                                        Name Market Cap (US$ Billion)
0                             JPMorgan Chase                  487.220
1    Industrial and Commercial Bank of China                  345.214
2                            Bank of America                  325.331
3                                Wells Fargo                  308.013
4                    China Construction Bank                  257.399
..                                       ...                      ...
65                              Ping An Bank                   37.993
66                        Standard Chartered                   37.319
67                      United Overseas Bank                   35.128
68                                 QNB Group                   33.560
69                     Bank Rakyat Indonesia                   33.081

[70 rows x 2 columns]

**Question 3** Display the first five rows using the `head` function.

In [195]:
#Write your code here
data.head(5)

                                       Name Market Cap (US$ Billion)
0                            JPMorgan Chase                  487.220
1   Industrial and Commercial Bank of China                  345.214
2                           Bank of America                  325.331
3                               Wells Fargo                  308.013
4                   China Construction Bank                  257.399

### Loading the Data

Usually you will Load the `pandas` dataframe created above into a JSON named `bank_market_cap.json` using the `to_json()` function, but this time the data will be sent to another team who will split the data file into two files and inspect it. If you save the data it will interfere with the next part of the assignment.

In [196]:
#Write your code here
data.to_json('bank_market_cap')

## Authors

Ramesh Sannareddy, Joseph Santarcangelo and Azim Hirjani

### Other Contributors

Rav Ahuja

## Change Log

| Date (YYYY-MM-DD) | Version | Changed By        | Change Description                 |
| ----------------- | ------- | ----------------- | ---------------------------------- |
| 2020-11-25        | 0.1     | Ramesh Sannareddy | Created initial version of the lab |

Copyright © 2020 IBM Corporation.